APP_ENV=local
APP_NAME=YOnLab G2B Agent v2

G2B_ENABLE_REAL_API=false
G2B_API_BASE_URL=https://apis.data.go.kr
G2B_API_SERVICE_KEY=
G2B_REQUEST_TIMEOUT_SECONDS=15
G2B_DEFAULT_NUM_ROWS=10
G2B_DEFAULT_PAGE_NO=1
G2B_LIST_ENDPOINT_PATH=
G2B_FIXTURE_MODE=true
G2B_CAPTURE_REAL_RESPONSES=false
G2B_CAPTURE_DIR=data/captured/g2b

LOG_LEVEL=INFO
